<settings>
    <setting id="account_default" value="2" />
    <setting id="accounts" value="2" />
    <setting id="always_cache" value="false" />
    <setting id="avoid_codec" value="0" />
    <setting id="avoid_format" value="0" />
    <setting id="cache_continue" value="false" />
    <setting id="cache_folder" value="" />
    <setting id="cache_percent" value="5" />
    <setting id="cache_single" value="false" />
    <setting id="cache_srt" value="true" />
    <setting id="cache_thumbnails" value="true" />
    <setting id="cc" value="true" />
    <setting id="chunk_size" value="131072" />
    <setting id="context_emusic" value="0" />
    <setting id="context_ephoto" value="0" />
    <setting id="context_evideo" value="0" />
    <setting id="context_music" value="0" />
    <setting id="context_photo" value="0" />
    <setting id="context_video" value="0" />
    <setting id="crashreport_email" value="" />
    <setting id="crashreport_enable" value="false" />
    <setting id="crypto_password" value="" />
    <setting id="crypto_salt" value="" />
    <setting id="encfs_cache_percent" value="10" />
    <setting id="encfs_cache_single" value="false" />
    <setting id="encfs_chunk_size" value="163840" />
    <setting id="encfs_continue" value="false" />
    <setting id="encfs_download_type" value="1" />
    <setting id="encfs_exp" value="false" />
    <setting id="encfs_inode" value="0" />
    <setting id="encfs_source" value="" />
    <setting id="encfs_stream" value="false" />
    <setting id="encfs_target" value="" />
    <setting id="gdrive1_DRIVE_STREAM" value="pyWhF7pJh1Q" />
    <setting id="gdrive1_auth_access_token" value="ya29.GlvfBn3xSTYu65v6BZw7cdtMJJdRcI07x8ZZr8YC5birt7sQoTIxPyXqRpwa98xkOzR5-bFmUiu--Vwl_4iEIK17jmZ_C43ZRjvdvOAPyGLAL8oKP_0NUOTREw2G" />
    <setting id="gdrive1_auth_refresh_token" value="1/zU7T2TFS0Jemo9f7Os5LFm6656H1XlkXIPx8-lWT2K8" />
    <setting id="gdrive1_client_id" value="282006943381-7ala71olllbh3ilrmd4ua8eldkdu9jii.apps.googleusercontent.com" />
    <setting id="gdrive1_client_secret" value="6vsWtl298Kwxja5FDsyuCrVE" />
    <setting id="gdrive1_code" value="4/IAHJq0kQCfVz0jSalchTi66EI4akNCc0z8ju8jhzpZWW3-HU4NI6E9c" />
    <setting id="gdrive1_passcode" value="" />
    <setting id="gdrive1_password" value="" />
    <setting id="gdrive1_resumepoint" value="1" />
    <setting id="gdrive1_save_auth_token" value="true" />
    <setting id="gdrive1_spreadsheet" value="" />
    <setting id="gdrive1_spreadsheetname" value="" />
    <setting id="gdrive1_type" value="3" />
    <setting id="gdrive1_url" value="" />
    <setting id="gdrive1_username" value="Gplay-master" />
    <setting id="gdrive2_DRIVE_STREAM" value="-njGK5WfQKI" />
    <setting id="gdrive2_auth_access_token" value="" />
    <setting id="gdrive2_auth_refresh_token" value="" />
    <setting id="gdrive2_client_id" value="" />
    <setting id="gdrive2_client_secret" value="" />
    <setting id="gdrive2_code" value="" />
    <setting id="gdrive2_passcode" value="" />
    <setting id="gdrive2_password" value="" />
    <setting id="gdrive2_resumepoint" value="1" />
    <setting id="gdrive2_save_auth_token" value="true" />
    <setting id="gdrive2_spreadsheet" value="" />
    <setting id="gdrive2_spreadsheetname" value="" />
    <setting id="gdrive2_type" value="1" />
    <setting id="gdrive2_url" value="" />
    <setting id="gdrive2_username" value="" />
    <setting id="gdrive3_client_id" value="" />
    <setting id="gdrive3_client_secret" value="" />
    <setting id="gdrive3_code" value="" />
    <setting id="gdrive3_passcode" value="" />
    <setting id="gdrive3_password" value="" />
    <setting id="gdrive3_resumepoint" value="1" />
    <setting id="gdrive3_save_auth_token" value="true" />
    <setting id="gdrive3_spreadsheetname" value="" />
    <setting id="gdrive3_type" value="4" />
    <setting id="gdrive3_url" value="" />
    <setting id="gdrive3_username" value="" />
    <setting id="gdrive4_auth_access_token" value="" />
    <setting id="gdrive4_auth_refresh_token" value="" />
    <setting id="gdrive4_client_id" value="" />
    <setting id="gdrive4_client_secret" value="" />
    <setting id="gdrive4_code" value="" />
    <setting id="gdrive4_passcode" value="" />
    <setting id="gdrive4_password" value="" />
    <setting id="gdrive4_resumepoint" value="1" />
    <setting id="gdrive4_save_auth_token" value="true" />
    <setting id="gdrive4_spreadsheet" value="" />
    <setting id="gdrive4_spreadsheetname" value="" />
    <setting id="gdrive4_type" value="4" />
    <setting id="gdrive4_url" value="" />
    <setting id="gdrive4_username" value="" />
    <setting id="gdrive5_client_id" value="" />
    <setting id="gdrive5_client_secret" value="" />
    <setting id="gdrive5_code" value="" />
    <setting id="gdrive5_passcode" value="" />
    <setting id="gdrive5_password" value="" />
    <setting id="gdrive5_resumepoint" value="1" />
    <setting id="gdrive5_save_auth_token" value="true" />
    <setting id="gdrive5_spreadsheetname" value="" />
    <setting id="gdrive5_type" value="4" />
    <setting id="gdrive5_url" value="" />
    <setting id="gdrive5_username" value="" />
    <setting id="gdrive6_client_id" value="" />
    <setting id="gdrive6_client_secret" value="" />
    <setting id="gdrive6_code" value="" />
    <setting id="gdrive6_passcode" value="" />
    <setting id="gdrive6_password" value="" />
    <setting id="gdrive6_resumepoint" value="1" />
    <setting id="gdrive6_save_auth_token" value="true" />
    <setting id="gdrive6_spreadsheetname" value="" />
    <setting id="gdrive6_type" value="4" />
    <setting id="gdrive6_url" value="" />
    <setting id="gdrive6_username" value="" />
    <setting id="gdrive7_client_id" value="" />
    <setting id="gdrive7_client_secret" value="" />
    <setting id="gdrive7_code" value="" />
    <setting id="gdrive7_passcode" value="" />
    <setting id="gdrive7_password" value="" />
    <setting id="gdrive7_resumepoint" value="1" />
    <setting id="gdrive7_save_auth_token" value="true" />
    <setting id="gdrive7_spreadsheetname" value="" />
    <setting id="gdrive7_type" value="4" />
    <setting id="gdrive7_url" value="" />
    <setting id="gdrive7_username" value="" />
    <setting id="gdrive8_client_id" value="" />
    <setting id="gdrive8_client_secret" value="" />
    <setting id="gdrive8_code" value="" />
    <setting id="gdrive8_passcode" value="" />
    <setting id="gdrive8_password" value="" />
    <setting id="gdrive8_resumepoint" value="1" />
    <setting id="gdrive8_save_auth_token" value="true" />
    <setting id="gdrive8_spreadsheetname" value="" />
    <setting id="gdrive8_type" value="4" />
    <setting id="gdrive8_url" value="" />
    <setting id="gdrive8_username" value="" />
    <setting id="gdrive9_client_id" value="" />
    <setting id="gdrive9_client_secret" value="" />
    <setting id="gdrive9_code" value="" />
    <setting id="gdrive9_passcode" value="" />
    <setting id="gdrive9_password" value="" />
    <setting id="gdrive9_resumepoint" value="1" />
    <setting id="gdrive9_save_auth_token" value="true" />
    <setting id="gdrive9_spreadsheetname" value="" />
    <setting id="gdrive9_type" value="4" />
    <setting id="gdrive9_url" value="" />
    <setting id="gdrive9_username" value="" />
    <setting id="gdrive_numaccounts" value="9" />
    <setting id="integrated_player" value="false" />
    <setting id="library" value="false" />
    <setting id="library_account" value="1" />
    <setting id="library_filename" value="" />
    <setting id="local_db" value="false" />
    <setting id="movie_db_watch" value="false" />
    <setting id="movies_path" value="" />
    <setting id="never_stream" value="false" />
    <setting id="parse_music" value="true" />
    <setting id="parse_tv" value="true" />
    <setting id="photo_folder" value="/storage/emulated/0/Download/video-other/" />
    <setting id="photo_resolution" value="0" />
    <setting id="preferred_format" value="0" />
    <setting id="preferred_quality" value="0" />
    <setting id="prompt_quality" value="true" />
    <setting id="resumepoint" value="1" />
    <setting id="resumeprompt" value="false" />
    <setting id="srt" value="true" />
    <setting id="srtforce" value="false" />
    <setting id="stream_port" value="8011" />
    <setting id="streamer" value="false" />
    <setting id="strm" value="true" />
    <setting id="strm_path" value="D:\STRM para Gplay\GplayMex-P\" />
    <setting id="tv_db_watch" value="false" />
    <setting id="tvshows_path" value="" />
    <setting id="user_agent" value="Mozilla/5.0 (Windows; U; Windows NT 6.1; en-US) AppleWebKit/532.0 (KHTML, like Gecko) Chrome/3.0.195.38 Safari/532.0" />
    <setting id="video_skip" value="80" />
</settings>
